<html>
<head>
<title>activity_login.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_login.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.ui.login.LogInActivity&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/get_otp_textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;56dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;top&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/get_otp&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/get_otp&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/edit_icon_imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;18dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;18dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;59dp&quot;</span>
        <span class="s1">android:layout_toRightOf</span><span class="s3">=&quot;@id/get_otp_textView&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;top&quot;</span>
        <span class="s1">android:src</span><span class="s3">=&quot;@drawable/ic_baseline_edit_24&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/get_otp&quot;</span>
        <span class="s1">android:visibility</span><span class="s3">=&quot;gone&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/get_otp&quot; </span><span class="s2">/&gt;</span>


    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/phone_textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;210dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;72dp&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/get_otp_textView&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;5dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;top&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/enter_your_&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/enter_your_&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">RelativeLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/parent_relative_layout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/phone_textView&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;15dp&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/phone_number_prefix&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;@drawable/rectangle_1&quot;</span>
            <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:paddingLeft</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingRight</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/some_id&quot;</span>
            <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/some_id&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/phone_number_editText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_toRightOf</span><span class="s3">=&quot;@id/phone_number_prefix&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;@drawable/rectangle_1&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Enter the number&quot;</span>
            <span class="s1">android:paddingLeft</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingRight</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/otp_editText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_toRightOf</span><span class="s3">=&quot;@id/phone_number_editText&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;@drawable/rectangle_1&quot;</span>
            <span class="s1">android:hint</span><span class="s3">=&quot;Type otp&quot;</span>
            <span class="s1">android:paddingLeft</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingRight</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s3">=&quot;8dp&quot;</span>
            <span class="s1">android:visibility</span><span class="s3">=&quot;gone&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/continue_button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;96dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/parent_relative_layout&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;15dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@drawable/yellow_background&quot;</span>
        <span class="s1">android:foreground</span><span class="s3">=&quot;?selectableItemBackground&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/continues&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/continues&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/timer&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/parent_relative_layout&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_toRightOf</span><span class="s3">=&quot;@id/continue_button&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/some_id&quot;</span>
        <span class="s1">android:visibility</span><span class="s3">=&quot;gone&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/some_id&quot; </span><span class="s2">/&gt;</span>
<span class="s2">&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt;</span>

</pre>
</body>
</html>