<html>
<head>
<title>item_list.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_list.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/card_view&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;250dp&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s3">=&quot;1&quot;</span>
        <span class="s1">android:elevation</span><span class="s3">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s3">=&quot;20dp&quot;</span><span class="s2">&gt;</span>
        <span class="s2">&lt;</span><span class="s4">RelativeLayout</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">ImageView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/photo1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:scaleType</span><span class="s3">=&quot;centerCrop&quot;</span>
            <span class="s1">android:src</span><span class="s3">=&quot;@drawable/photo_2&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/name_text&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;meena_23&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_above</span><span class="s3">=&quot;@id/gender_age&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;5dp&quot;</span>
            <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/meena_23&quot;</span>
            <span class="s1">android:lineSpacingExtra</span><span class="s3">=&quot;0sp&quot;</span>
            <span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/gender_age&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;23&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_alignParentBottom</span><span class="s3">=&quot;true&quot;</span>
            <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/meena_23&quot;</span>
            <span class="s1">android:lineSpacingExtra</span><span class="s3">=&quot;0sp&quot;</span>
            <span class="s2">/&gt;</span>
        <span class="s2">&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;/</span><span class="s4">androidx.cardview.widget.CardView</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/recentlyActive&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;meena_23&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/card_view&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;5dp&quot;</span>
        <span class="s1">android:lineSpacingExtra</span><span class="s3">=&quot;0sp&quot;</span>
        <span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/lastSeen&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;meena_23&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@id/card_view&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;5dp&quot;</span>
        <span class="s1">android:lineSpacingExtra</span><span class="s3">=&quot;0sp&quot;</span>
        <span class="s2">/&gt;</span>



<span class="s2">&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>